EDUDOCS_ENV=development
EDUDOCS_MANIFEST_PATH=../../corpus/manifest.json
EDUDOCS_DOCUMENTS_DIR=../../corpus/documents
EDUDOCS_INDEX_DIR=../../corpus/index
EDUDOCS_EMBEDDING_PROVIDER=fake
EDUDOCS_EMBEDDING_MODEL=sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2
EDUDOCS_FAKE_EMBEDDING_DIMENSION=32
EDUDOCS_CHUNK_SIZE=900
EDUDOCS_CHUNK_OVERLAP=120
EDUDOCS_BATCH_SIZE=16
EDUDOCS_DEFAULT_TOP_K=5
EDUDOCS_TESTING=false
LLM_PROVIDER=fake
GROQ_API_KEY=
GROQ_MODEL=llama-3.1-8b-instant
LLM_TEMPERATURE=0.1
LLM_TIMEOUT_SECONDS=20
LLM_MAX_RETRIES=1
EDUDOCS_MIN_QUESTION_LENGTH=3
EDUDOCS_MAX_QUESTION_LENGTH=800
EDUDOCS_CHAT_TOP_K=6
EDUDOCS_MIN_RETRIEVAL_SCORE=0.12
EDUDOCS_EVIDENCE_LIMIT=5
EDUDOCS_MAX_CONTEXT_CHARS=6000
EDUDOCS_MAX_RETRIEVAL_ATTEMPTS=2
