EDUDOCS_ENV=development
EDUDOCS_MANIFEST_PATH=../../corpus/manifest.json
EDUDOCS_DOCUMENTS_DIR=../../corpus/documents
EDUDOCS_INDEX_DIR=../../corpus/index
EDUDOCS_EMBEDDING_PROVIDER=fake
EDUDOCS_EMBEDDING_MODEL=sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2
EDUDOCS_FAKE_EMBEDDING_DIMENSION=32
EDUDOCS_CHUNK_SIZE=900
EDUDOCS_CHUNK_OVERLAP=120
EDUDOCS_BATCH_SIZE=16
EDUDOCS_DEFAULT_TOP_K=5
EDUDOCS_TESTING=false
